services:
  cli:
    build:
      context: .
      target: cli
      dockerfile: Dockerfile
    image: "laravel-trustup-media-io-php-local"
    volumes:
      - ./:/opt/apps/app
  bun:
    build:
      context: .
      target: bun
      dockerfile: Dockerfile
    image: "laravel-trustup-media-io-bun-local"
    volumes:
      - ./:/opt/apps/app
